h1{
    background-color: pink;
    width: 10%;
    border-radius: 30px;
    border-style: dashed;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.slogan{
    width: 30%;
    background-color: powderblue;
}

nav{
    width: 60%;
    background-color: seagreen;
}

li{
    text-decoration: none;
}


.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inf, .img{
    width: 40%;
    background-color: steelblue;
}

img{
    width: 100%;
}

/*celulares*/

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    header, ul, .content{
        flex-direction: column;
    }



  }

